@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <table>
            <thead>
                <tr>
                   
                    <th>Overskift</th>
                    <th>BrødText</th>
                   
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.postList)
                {
                    <tr class="table" onclick="location.href='/PostShow/@item.Id'"> 
                      
                        <td>@Html.DisplayFor(m =>item.Overskrift)</td>
                        <td>@Html.DisplayFor(m =>item.BrødText)</td>
                   
                    </tr>
                }
            </tbody>

        </table>
    </form>
</div>


